.root {
  @apply bg-white p-4 relative;
  @apply sm:rounded;
  @apply lg:col-span-7;
  @apply xl:p-8 xl:pb-2;
}

.rootLoading {
  @apply pointer-events-none;
}

.title {
  @apply text-2xl mb-4;
}

.copy {
  @apply text-secondary;
}

.field {
  @apply my-8;
}

.fieldCenter {
  @apply text-center;
}

.split {
  @apply flex flex-row justify-between items-center;
}

.loaderOverlay {
  @apply absolute top-0 left-0 w-full h-full z-50 bg-white opacity-70;
}

.loader {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
