.root {
  @apply max-w-[100px] flex flex-col items-center text-center;
}

.icon {
  @apply inline-block rounded-full w-12 h-12 text-white flex items-center justify-center text-xl;
}

.text {
  @apply block;
}
