.root {
  border-color: #0c5e9c26;
  @apply border p-4 bg-white rounded;
  @apply md:p-6;
}

/** PRODUCT CARD **/

.rootProduct {
  @apply flex flex-col p-0 overflow-hidden relative rounded-sm;
}

.productImgWrapper {
  @apply relative pointer-events-none border-b border-b-gray-300 bg-white;
}

.productImg {
  @apply aspect-w-1 aspect-h-1;
}

.blockLink {
  @apply hover:bg-brand/10 absolute inset-0;
}

.productPlaceholder {
  @apply flex flex-row items-center justify-center bg-gray-50 h-full text-brand/20 text-4xl;
}

.productBody {
  @apply flex-grow-0 p-2;
  @apply md:p-4;
}

.productTitle {
  @apply text-primary font-semibold text-xs line-clamp-2;
  @apply lg:text-base;
}

.productPrice {
  @apply space-x-1 font-semibold text-sm text-price line-clamp-1;
  @apply sm:text-base;
}

.productPriceSale {
  color: #ef3a3ade;
}

.productCompareAtPrice {
  @apply text-xs text-discount line-through;
}

.productBranch {
  @apply text-xs text-secondary line-clamp-1;
}

.productBadge {
  @apply absolute left-2 bottom-2 flex flex-row items-center gap-2;
}

.productBadgeStore {
  @apply bg-action-primary p-1 rounded-sm text-white inline-flex items-center justify-center;
}

.productBadgeShipping {
  background-color: #cb2b55;
  @apply p-1 rounded-sm text-white inline-flex items-center justify-center;
}

.productSaleBadge {
  @apply bg-action-critical p-1 rounded-l-sm absolute right-px top-2 text-white text-xs;
  line-height: 12px;
}
